@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Oswald:300,400&display=swap");
/* @mixin lets you create styles components that you can include in elements by
 writing @include: nameOf @ mixin
 @mixin absCenterPosition() {
     position: absolute;
     top: 50%;
     left: 50%;
     transform:translate(-50% -50%);
 }
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  scroll-snap-type: y mandatory;
  overflow: auto;
  height: 100vh;
  width: 100%;
  scroll-behavior: smooth;
}
main section {
  scroll-snap-align: start;
  height: 100vh;
  width: 100vw;
}

.arrow {
  text-shadow: 3px 1px 0px rgba(68, 68, 68, 0.6);
}

#landingside {
  background-color: #d03d47;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#landingside #typetext {
  font-family: "Amatic SC", cursive;
  color: #f4f4f4;
  font-size: 6rem;
  font-weight: 700;
  margin-top: 200px;
}
#landingside a {
  font-family: "Amatic SC", cursive;
  font-size: 7rem;
  color: #f4f4f4;
  transform: rotate(90deg);
  text-decoration: none;
  margin-top: 100px;
}

.quote {
  color: white;
  font-family: "Amatic SC", cursive;
  font-weight: 300;
  font-size: 5rem;
}

.lines {
  width: 5px;
  height: 1px;
  margin: 10px;
}

.kampanjeTittel {
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 30px;
  left: 50%;
  transform: translate(-50%);
}

#katten {
  background-color: #ca0064;
  position: relative;
}
#katten .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 50%;
  height: 100vh;
}
#katten .container .nameTag {
  display: flex;
  justify-content: center;
  position: absolute;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  top: 70px;
}
#katten .container .nameTag .nameLine {
  height: 100px;
  width: 1px;
  margin: 10px;
  background-color: white;
}
#katten .container .nameTag p {
  font-size: 1.3rem;
}
#katten .container img {
  position: absolute;
  height: 95vh;
}
#katten h4 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10%;
}
#katten .kampanjeTittel {
  color: #ff2290;
  z-index: 10;
}
#katten .kampanjeTittel .lines {
  background-color: #ff2290;
  z-index: 10;
}

#hunden {
  background-color: #ffcb2b;
  position: relative;
}
#hunden .container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 50%;
  height: 100vh;
  overflow: hidden;
}
#hunden .container .nameTag {
  display: flex;
  justify-content: center;
  position: absolute;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  top: 15%;
}
#hunden .container .nameTag .nameLine {
  height: 100px;
  width: 1px;
  margin: 10px;
  background-color: white;
}
#hunden .container .nameTag p {
  font-size: 1.2rem;
}
#hunden .container img {
  height: 100vh;
  justify-self: flex-end;
  align-self: flex-end;
}
#hunden h4 {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  z-index: 3;
}
#hunden .kampanjeTittel {
  color: #fff580;
  z-index: 10;
}
#hunden .kampanjeTittel .lines {
  background-color: #fff580;
}

#tvillingene {
  background-color: #d03d47;
  position: relative;
}
#tvillingene .nameTag-pelle {
  display: flex;
  justify-content: center;
  position: absolute;
  flex-direction: column-reverse;
  align-items: center;
  z-index: 1;
  bottom: 70px;
  left: 30%;
}
#tvillingene .nameTag-pelle .nameLine {
  height: 100px;
  width: 1px;
  margin: 10px;
  background-color: white;
}
#tvillingene .nameTag-pelle p {
  font-size: 1.3rem;
}
#tvillingene .nameTag-petter {
  display: flex;
  justify-content: center;
  position: absolute;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  top: 70px;
  right: 35%;
}
#tvillingene .nameTag-petter .nameLine {
  height: 100px;
  width: 1px;
  margin: 10px;
  background-color: white;
}
#tvillingene .nameTag-petter p {
  font-size: 1.3rem;
}
#tvillingene img {
  height: 60%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
#tvillingene h4 {
  position: absolute;
  z-index: 2;
}
#tvillingene #pelle {
  top: 10%;
  left: 10%;
  font-size: 4.3rem;
}
#tvillingene #petter {
  bottom: 10%;
  right: 10%;
  font-size: 4.3rem;
}
#tvillingene .kampanjeTittel {
  color: #f7555f;
}
#tvillingene .kampanjeTittel .lines {
  background-color: #f7555f;
}

#call-to-action {
  background-color: #d03d47;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f4f4f4;
  text-align: center;
}
#call-to-action h3 {
  font-family: "Amatic SC", cursive;
  font-size: 5rem;
  margin: 30px;
}
#call-to-action p {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
}
#call-to-action div {
  width: 250px;
  height: 75px;
  background-color: white;
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 75px;
  box-shadow: -1px 7px 1px rgba(68, 68, 68, 0.6);
  cursor: pointer;
}
#call-to-action div p {
  color: #d03d47;
  font-family: "Amatic SC", cursive;
  font-size: 2rem;
  font-weight: 400;
}
#call-to-action div:active {
  box-shadow: -1px 4px 1px rgba(68, 68, 68, 0.6);
  transform: translateY(4px);
}

@media (max-width: 700px) {
  h4 {
    font-size: 2.3rem;
  }

  #katten {
    overflow: hidden;
  }

  #hunden .container .nameTag {
    top: 35%;
  }
  #hunden .container img {
    height: 70vh;
  }
  #hunden h4 {
    top: 20%;
    font-size: 2.3rem;
  }

  #tvillingene {
    overflow: hidden;
  }
  #tvillingene img {
    width: 100vw;
    height: auto;
  }
  #tvillingene #pelle {
    font-size: 2rem;
  }
  #tvillingene #petter {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=index.css.map */
