@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Oswald:200,300,400,500,600,700&display=swap");
/* @mixin lets you create styles components that you can include in elements by
 writing @include: nameOf @ mixin
 @mixin absCenterPosition() {
     position: absolute;
     top: 50%;
     left: 50%;
     transform:translate(-50% -50%);
 }
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  cursor: none;
  overflow-x: hidden;
  height: 100%;
}

.cursor {
  z-index: 999;
  width: 15px;
  height: 15px;
  border: 2px solid #f3f3f3;
  background-color: #d03d47;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
}

@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.expand {
  animation: cursorAnim3 1s forwards;
  border: 1px solid white;
}

main {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
main section {
  height: 100vh;
  width: 100vw;
}

#dot-menu {
  display: none;
  position: fixed;
  height: 400px;
  width: 150px;
  z-index: 1000;
  top: 40%;
  right: 50px;
  user-select: none;
}
#dot-menu .menu-hover {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#dot-menu .menu-hover .menu-name {
  opacity: 0;
  transition: 0.5s;
  color: white;
  font-family: "Oswald", sans-serif;
  padding-right: 5px;
  font-size: 0.8rem;
  font-weight: 200;
}
#dot-menu .menu-hover .bullets {
  background-color: transparent;
  border: 1px solid white;
  height: 8px;
  width: 8px;
  display: flex;
  list-style: none;
  border-radius: 50%;
  margin: 10px;
  transition: 0.5s ease-in-out;
  cursor: none;
}
#dot-menu .menu-hover:hover .menu-name {
  opacity: 1;
}
#dot-menu .menu-hover:hover .bullets {
  transform: scale(1.5);
}

main #dot-menu .menu-hover .bullets.current {
  transform: scale(1.5);
  background-color: white;
}

.mobile {
  display: none;
}

#landingside {
  background-color: #d03d47;
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  align-items: end;
}
#landingside #typetext {
  font-family: "Amatic SC", cursive;
  color: #f4f4f4;
  font-size: 6rem;
  font-weight: 700;
  text-align: center;
}
#landingside #scroll-ned {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
}
#landingside #scroll-ned p {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 0.6rem;
  color: #f4f4f4;
  text-align: center;
  text-decoration: none;
  user-select: none;
  cursor: none;
  letter-spacing: 5px;
}
#landingside #scroll-ned div {
  margin-top: 15px;
  height: 15px;
  width: 1px;
  background-color: #f4f4f4;
}

.quote {
  color: white;
  font-family: "Amatic SC", cursive;
  font-weight: 300;
  font-size: 5rem;
}

.kampanjeTittel {
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 30px;
  left: 50%;
  transform: translate(-50%);
}
.kampanjeTittel .lines {
  width: 10px;
  height: 1px;
  margin: 7px;
}

#katten {
  background-color: #ca0064;
  position: relative;
  overflow: auto;
}
#katten .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 50%;
  height: 100vh;
}
#katten .container .nameTag {
  display: flex;
  justify-content: center;
  position: absolute;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  top: 8%;
}
#katten .container .nameTag .nameLine {
  height: 100px;
  width: 1px;
  margin: 10px;
  background-color: white;
}
#katten .container .nameTag p {
  font-size: 1.3rem;
}
#katten .container img {
  position: absolute;
  height: 95vh;
}
#katten h4 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10%;
}
#katten .kampanjeTittel {
  color: #ff2290;
  z-index: 10;
}
#katten .kampanjeTittel .lines {
  background-color: #ff2290;
}

#hunden {
  background-color: #ffcb2b;
  position: relative;
}
#hunden .container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 50%;
  height: 100vh;
  overflow: hidden;
}
#hunden .container .nameTag {
  display: flex;
  justify-content: center;
  position: absolute;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  top: 15%;
}
#hunden .container .nameTag .nameLine {
  height: 100px;
  width: 1px;
  margin: 10px;
  background-color: white;
}
#hunden .container .nameTag p {
  font-size: 1.2rem;
  font-weight: 600;
}
#hunden .container img {
  height: 100vh;
  justify-self: flex-end;
  align-self: flex-end;
}
#hunden h4 {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  z-index: 3;
}
#hunden .kampanjeTittel {
  color: #fff580;
  z-index: 10;
}
#hunden .kampanjeTittel .lines {
  background-color: #fff580;
}

#tvillingene {
  background-color: #d03d47;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#tvillingene .nameTag-pelle {
  display: flex;
  position: absolute;
  flex-direction: column-reverse;
  align-items: center;
  z-index: 1;
  bottom: 7%;
  left: 33%;
}
#tvillingene .nameTag-pelle .nameLine {
  height: 100px;
  width: 1px;
  margin: 10px;
  background-color: white;
}
#tvillingene .nameTag-pelle p {
  font-size: 1.3rem;
}
#tvillingene .nameTag-petter {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  top: 18%;
  right: 38%;
}
#tvillingene .nameTag-petter .nameLine {
  height: 100px;
  width: 1px;
  margin: 10px;
  background-color: white;
}
#tvillingene .nameTag-petter p {
  font-size: 1.3rem;
}
#tvillingene img {
  height: 70%;
  width: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
#tvillingene h4 {
  position: absolute;
  z-index: 2;
}
#tvillingene #pelle {
  top: 10%;
  left: 10%;
  font-size: 4.3rem;
}
#tvillingene #petter {
  bottom: 10%;
  right: 10%;
  font-size: 4.3rem;
}
#tvillingene .kampanjeTittel {
  color: #f7555f;
}
#tvillingene .kampanjeTittel .lines {
  background-color: #f7555f;
}

#call-to-action {
  background-color: #d03d47;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f4f4f4;
  text-align: center;
}
#call-to-action h3 {
  font-family: "Amatic SC", cursive;
  font-size: 5rem;
  margin: 30px;
}
#call-to-action p {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
}
#call-to-action a {
  width: 250px;
  height: 75px;
  background-color: white;
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 75px;
  box-shadow: -1px 7px 1px rgba(68, 68, 68, 0.6);
  cursor: none;
  user-select: none;
  text-decoration: none;
  color: #d03d47;
  font-family: "Amatic SC", cursive;
  font-size: 2.2rem;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .cursor {
    opacity: 1;
  }

  .mobile {
    display: flex;
  }

  .nameTag p {
    font-size: 5rem;
  }

  main {
    overflow: auto;
  }
  main section {
    height: calc(var(--vh, 1vh) * 100);
  }

  #landingside #typetext {
    font-size: 5rem;
    padding: 20px;
  }

  h4 {
    font-size: 5rem;
  }

  #katten {
    overflow: hidden;
  }
  #katten .container {
    position: relative;
    margin-top: 60px;
  }
  #katten .container .nameTag {
    top: 4%;
  }
  #katten .container .nameTag p {
    font-size: 1.3rem;
    font-weight: 600;
  }
  #katten .container img {
    height: 80vh;
  }
  #katten h4 {
    top: 85%;
    right: 20%;
    font-size: 4rem;
  }

  #hunden {
    overflow: hidden;
  }
  #hunden .container .nameTag {
    top: 24%;
  }
  #hunden .container .nameTag p {
    font-size: 1.3rem;
    font-weight: 600;
  }
  #hunden .container img {
    height: 90vh;
  }
  #hunden h4 {
    left: 4%;
    top: 50%;
    font-size: 3.8rem;
  }

  #tvillingene {
    overflow: hidden;
  }
  #tvillingene #test {
    height: 100%;
    width: 100%;
  }
  #tvillingene .nameTag-petter {
    right: 25%;
    top: 23%;
  }
  #tvillingene .nameTag-petter p {
    font-size: 1.3rem;
    font-weight: 600;
  }
  #tvillingene .nameTag-pelle {
    bottom: 25%;
    left: -5%;
    transform: translate(100%);
  }
  #tvillingene .nameTag-pelle p {
    font-size: 1.3rem;
    font-weight: 600;
  }
  #tvillingene img {
    width: 120vw;
    height: auto;
  }
  #tvillingene #pelle {
    font-size: 4rem;
    top: 20%;
    left: 5%;
  }
  #tvillingene #petter {
    font-size: 4rem;
    bottom: 23%;
    right: 3%;
  }

  #call-to-action h3 {
    font-family: "Amatic SC", cursive;
    font-size: 5rem;
    margin: 30px;
  }
  #call-to-action p {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
  }
  #call-to-action .desktop {
    display: none;
  }
  #call-to-action .mobile {
    display: flex;
  }

  .nameLine {
    display: none;
  }
}
@media (max-width: 900px) {
  #hunden .container .nameTag {
    top: 38%;
  }
  #hunden .container .nameTag p {
    font-weight: 600;
    font-size: 1.3rem;
  }
  #hunden .container img {
    height: 80vh;
  }
  #hunden h4 {
    left: 5%;
    top: 25%;
    font-size: 3.8rem;
  }
}
@media (max-width: 700px) {
  .cursor {
    opacity: 0;
  }

  #dot-menu {
    display: none;
    position: absolute;
    right: -100vw;
  }

  main {
    overflow: auto;
  }
  main section {
    min-height: calc(var(--vh, 1vh) * 100);
  }

  .mobile {
    display: flex;
  }

  #landingside #typetext {
    font-size: 5rem;
    padding: 20px;
  }

  #katten {
    overflow: hidden;
  }
  #katten .container {
    position: relative;
    margin-top: 60px;
  }
  #katten .container .nameTag p {
    font-weight: 600;
    font-size: 1.3rem;
  }
  #katten .container img {
    height: 80vh;
  }
  #katten h4 {
    top: 85%;
    right: 10%;
    font-size: 2rem;
  }

  #hunden .container .nameTag {
    top: 40%;
  }
  #hunden .container .nameTag p {
    font-weight: 600;
    font-size: 1.3rem;
  }
  #hunden .container img {
    height: 70vh;
  }
  #hunden h4 {
    left: 4%;
    top: 20%;
    font-size: 2rem;
  }

  #tvillingene {
    overflow: hidden;
  }
  #tvillingene .nameTag-petter {
    right: 15%;
    top: 29%;
  }
  #tvillingene .nameTag-petter p {
    font-weight: 600;
    font-size: 1.3rem;
  }
  #tvillingene .nameTag-pelle {
    bottom: 25%;
    transform: translate(100%);
  }
  #tvillingene .nameTag-pelle p {
    font-weight: 600;
    font-size: 1.3rem;
  }
  #tvillingene img {
    width: 120vw;
    height: auto;
  }
  #tvillingene #pelle {
    font-size: 2.4rem;
    top: 15%;
    left: 5%;
  }
  #tvillingene #petter {
    font-size: 3rem;
    bottom: 15%;
    right: 3%;
  }

  .nameTag {
    font-weight: 600;
  }

  #call-to-action {
    overflow: auto;
    background-color: #d03d47;
  }
  #call-to-action h3 {
    font-family: "Amatic SC", cursive;
    font-size: 3rem;
    margin: 30px;
  }
  #call-to-action p {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 1rem;
  }
  #call-to-action div {
    width: 150px;
    height: 50px;
  }
  #call-to-action div p {
    font-family: "Amatic SC", cursive;
    font-size: 1.6rem;
    font-weight: 400;
  }
  #call-to-action .desktop {
    display: none;
  }
  #call-to-action .mobile {
    display: flex;
  }

  .nameLine {
    display: none;
  }
}

/*# sourceMappingURL=index.css.map */
